<section class="hero is-success is-large">
  <div class="hero-head">
    <div class="nav-right nav-menu">
      <span class="nav-item">
        <a class="button is-large">Join Now</a>
      </span>
    </div>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Coach Swap
      </h1>
      <h2 class="subtitle is-3">
        Connecting the softball community one swap at a time
      </h2>

      <a class="button is-medium">Login</a>
      <a class="button is-medium">Practices near me</a>

    </div>
  </div>
</section>


  <div class="tile is-ancestor">
    <div class="tile is-4 is-parent">
      <div class="tile is-child box">
        <p class="title">Step One</p>
        <p>Make a profile</p>
      </div>
    </div>
    <div class="tile is-4 is-parent">
      <div class="tile is-child box">
        <p class="title">Step Two</p>
        <p>List your practice schedule for coaches in your area to watch</p>
      </div>
    </div>
    <div class="tile is-4 is-parent">
      <div class="tile is-child box">
        <p class="title">Step Three</p>
        <p>Find practices in your area to watch. Every swap earns you points!</p>
      </div>
    </div>
  </div>
