<div class="control">
  <div class="label">
    <label for="date">Date</label>
  </div>
  <span class="select is-medium">
    <%= date_field_tag :date, "", class: 'input is-medium' %>
  </span>
</div>
