<div class="control">
  <div class="label">
    <label for="<%= name %>"><%= name.titleize %></label>
  </div>
  <span class="select is-medium">
    <%= select_tag name, options_for_select(options, value), class: 'control' %>
  </span>
</div>
