<%= render 'layouts/top_nav' %>

<div class="columns">
  <div class="column is-3">

    <%= render 'filter', practices: @all_practices %>
  </div>
  <div class="column is-4">
    <% i = 0 %>
    <% date = Date.today %>
    <% 7.times do |i| %>
      <% counter = 0 + i %>
      <% if @all_practices.any? {|a| a.date == date + counter} %>
        <article class="message">
          <div class="message-header has-text-centered">
            <%= date_calculator(date + counter) %>
          </div>
          <div class="message-body">
            <ul>
              <% @all_practices.each do |practice| %>
                <%= render 'practice', practice: practice, date: (date + counter), coaches: @all_coaches %>
              <% end %>
            </ul>
          </div>
        </article>

      <% end %>
    <% end %>






  </div>
</div>
