<%= render 'layouts/top_nav' %>

<div class="columns">
  <div class="column is-3"></div>
  <div class="column is-6">
    </br>
    <h1 class="title is-2">My Practice Schedule</h1>
    </br>
    <table class="table">
      <thead>
        <tr>
          <th>Day</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Location</th>
          <th>Reoccuring</th>
        </tr>
      </thead>
      <tbody>
        <%= form_tag practices_path do %>
          <% @practices.each_with_index do |practice, index| %>
          <%= render 'practice_form', index: index %>
          <% end %>
          <%= submit_tag "Submit" %>
          <% end %>
      </tbody>
      <tfoot>
        <button class="add-practice">Add Practice</button>
      </tfoot>
    </table>
  </div>
</div>
