<%= render 'layouts/top_nav' %>
<h1>Profile Page</h1>
<p><%= @coach.name %></p>
<span><%= image_tag(@coach.avatar.thumb.url) if @coach.avatar_url %></span>
<p>My practices</p>

<ul>
  <% @practices.each do |practice| %>
  <li><%= practice.location %></li>
  <% end %>
</ul>
