// Place all the styles related to the Practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.practice-date {
  width: 250px;
}

.datepicker {
  width: 300px;
  height: 275px;
  border: 1px solid black;
  margin: auto;
}

.practice-form {
  visibility: hidden;
}

.end-date {
  display: none;
}

.practice-entry {
  border: 1px solid black;
  .practice-time {
    margin-right: 15px;
  }
}

.practice-entry:hover {
  cursor: pointer;
  cursor: hand;
}
