// Place all the styles related to the Practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.practice-date {
  width: 250px;
}

.datepicker {
  width: 300px;
  height: 275px;
  border: 1px solid black;
  margin: auto;
}

// .practice-form {
//   visibility: hidden;
// }
//
// .practice-form:first-child {
//   visibility: visible;
// }

.end-date {
  display: none;
}

.practice-entry {
  border: 1px solid black;
  .practice-time {
    margin-right: 15px;
  }
}

.practice-entry:hover {
  cursor: pointer;
  cursor: hand;
}

.filter-box {
  background-color: green;
}

a.tooltips {
  position: relative;
  display: inline;
  color: #7a7a7a;
}
a.tooltips span {
  position: absolute;
  width: 400px;
  color: #000000;
  background: #BABABA;
  height: 100px;
  line-height: 30px;
  text-align: left;
  visibility: hidden;
  border-radius: 6px;
  font-weight: 100;
  font-size: 15px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #BABABA;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.mini-field {
  width: 125px;
}
