<nav class="nav nav-bar">
  <div class="nav-left">
    <a class="nav-item is-brand">
      <%= link_to "Coach Swap", root_path, :class => "title is-1" %>
    </a>
  </div>

  <div class="nav-right nav-menu">
    <% if current_user %>
    <%= link_to "Make Practice Schedule", "/coaches/#{params[:coach_id]}/practices/new", :class => "nav-item" %>
    <%= link_to 'Logout', '/logout', :class => "nav-item" %>
    <% end %>

</nav>
<div class="notification">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
</div>
