<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand">
      <%= link_to "Coach Swap", root_path, :class => "title is-1" %>
    </a>
  </div>

  <div class="nav-right nav-menu">
    <% if current_user %>
    <%= link_to 'Logout', '/logout', :class => "nav-item" %>
    <% end %>
    <!-- <a class="nav-item" href="#">
      My Practice Schedule
    </a> -->
</nav>
